body 		{padding: 50px 60px 30px 40px;
			font-family:arial, sans-serif;
			font-size: 15px;
			color:white;
			background-color:gray;	}
@media screen and (min-width: 1000px){
	body{
		background-color: lightblue;
	}
}
.navbar		{
			background-color: #333;
			color :white;
			padding: 14 px 20px;
			text-decoration: none;
			text-align: center;
			}
ul			{position: relative;
			top: -5ex;
			left: -3ex;
			width: 100px;

}
li 			{display: none;
			list-style: none;
			background: white;
			margina:0;
			padding: 0;
			border-right: 30px;}
.navbar:hover li{display:block;}
li:hover   {background-color: gray;}
a 			{text-decoration: none;}
